##
## $Source: /usr/cvsroot/melati/melati/src/main/java/org/melati/templets/html/org.melati.poem.IndexPoemType.vm,v $
## $Revision: 1.1 $
##
## Copyright (C) 2000 William Chesters
##
## Part of Melati (http://melati.org), a framework for the rapid
## development of clean, maintainable web applications.
##
##
## Expecting $object to be a Field
<!--  \$Source: /usr/cvsroot/melati/melati/src/main/java/org/melati/templets/html/org.melati.poem.IndexPoemType.vm,v $ -->
<select 
  name="field_$ml.rendered($object.Name)" 
  id="field_$ml.rendered($object.Name)"
#if( $object.Description )
  title="$object.Description"
#end
>

  #foreach( $poss in $object.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($object) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</option>
  #end
</select>
